body{
    background-image: url(fonebi.png) ;
    background-size: cover;
}
.a {
    color: #C3C3C3;
}
.b {
    color: #C3C3C3;
}
.c {
    color: #FFFFFF;
}
.d {
    color: #C3C3C3;
}
.i {
    color: #FFFFFF;
}
.f {
    color: #C3C3C3;
}
.g {
    color: #C3C3C3;
}
.h  {
    color: #FFFFFF;
}
.i {
    color: #C3C3C3;
}
.j {
    color: #FFFFFF;
}